*{
  margin:0;
padding: 0;
box-sizing: border-box;
}

@font-face {
  font-family: Galano Gortesque;
  src: url('./assets/galano-grotesque-alt-cufonfonts/GalanoGrotesqueAltMedium.otf');
}

@font-face {
  font-family: Inter;
  src: url('./assets/Inter/static/Inter-Medium.ttf')
}